
<div class ="jumbotron">
  <h2>Tell us about your latest kicks</h2>
  <h3>Share your experiences with the styles you love.
  <br>Leave reviews and ratings for your fellow sneakerheads.</h3>
</div>


	<form id="live-search" role="search" method="post">
	<input type="text" class="form-control" placeholder="Start Typing to Filter Results"/>
	</div>
	</form>
<div class="container-fluid">
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Style</th>
      <th>Buy</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody class = "searchable">
    <% @sneakers.each do |sneaker| %>
      <tr>
        <td><%= sneaker.brand%></td>
        <td><%= link_to sneaker.name, sneaker %></td>
        <td><%= sneaker.style %></td>
        <td><%= link_to sneaker.buy, sneaker.buy %></td> 
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_sneaker_path(sneaker) %></td>
          <td><%= link_to 'Destroy', sneaker, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Sneaker', new_sneaker_path, class: "btn btn-link" %>
<% end %>
</div>
<div class="container-fluid">
Made with Love in Lancaster, PA
</div>
<script>
$('input.form-control').on('keyup', function() {
    var rex = new RegExp($(this).val(), 'i');
    $('.searchable tr').hide();
    $('.searchable tr').filter(function() {
    return rex.test($(this).text());
    }).show();
    });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66931422-1', 'auto');
  ga('send', 'pageview');

</script>
