<p id="notice"><%= notice %></p>
<%= image_tag @sneaker.image_url %>
<p>
  <br>	
  <strong>Brand:</strong>
  <%= @sneaker.brand %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sneaker.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @sneaker.style %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @sneaker.buy %>
</p>

<%= link_to 'Edit', edit_sneaker_path(@sneaker),class: "btn btn-link" %> |
<%= link_to 'Back', sneakers_path,class: "btn btn-link" %>
