<div class="row">
  <div class="col-md-3">
<%= image_tag @sneaker.image_url %>

<h2>
  <%= @sneaker.name %>
</h2>
<div class="star-rating" data-score= <%= @avg_rating %> ></div>
<p><%= "#{@reviews.length} reviews" %></p>
 
<p>
  <br>	
  <strong>Brand:</strong>
  <%= @sneaker.brand %>
</p>

<p>
  <strong>Style:</strong>
  <%= @sneaker.style %>
</p>

<p>
  <strong>Buy:</strong>
  <%= @sneaker.buy %>
</p>
<%= link_to "Review", new_sneaker_review_path(@sneaker), class: "btn btn-primary" %>
</div>
  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>Like this kick? be the first to comment...</h3>
    <% else %>
	<table class="table">
		<thead>
	      <tr>
	        <th class="col-md-3"></th>
	        <th class="col-md-9"></th>
	      </tr>
	    </thead>	
	  <tbody>
		<% @reviews.each do |review| %>
		<tr>
		<td>
           <h4>
             <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
           </h4>
           <p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
         </td>

         <td>
			<div class="star-rating" data-score= <%= review.rating %> ></div>
			<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
			<% if user_signed_in? %>
			  <% if (review.user == current_user) || (current_user.admin?) %>
			    <%= link_to "Edit", edit_sneaker_review_path(@sneaker, review) %>
			    <%= link_to "Delete", sneaker_review_path(@sneaker, review), method: :delete %>
			  <% end %>
			<% end %>	
		</tr>	
		 <% end %>
	  </tbody>
	</table>
    <% end %>
  </div>
</div>


<%= link_to 'Edit', edit_sneaker_path(@sneaker),class: "btn btn-link" %> |
<%= link_to 'Back', sneakers_path,class: "btn btn-link" %>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/sneakerstats/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66931422-1', 'auto');
  ga('send', 'pageview');

</script>